body{

    background-color: rgb(215, 200, 182);
}

.m{
    position: relative;
    height: 75vh;
}

.titre{

    position: absolute;
    color: white;
    text-align: center;

    margin-left: 30%;

    font-size: 1.5rem;
}

.imageDeco{

    width: 100%;
    margin-bottom: 1rem;
}

.imageDeco2{

    width: 110%;
    margin-bottom: 1rem;
}

p{
    font-size: 1.5rem;
}

h4{
    font-size: 2rem;

}


@media screen and (min-width :900px) {
    
    .titre{

        font-size: 10rem;
        margin-left: 0%;


    }


}